@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=poppins=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bodoni Moda", serif;
  margin-bottom: 16px;
  font-weight: 600;
}
a {
  font-family: "Bodoni Moda", serif;
}
.container {
  max-width: 84rem;
  margin: 0 auto;
}
