@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  font-weight: 600;
}
.container {
  max-width: 84rem;
  margin: 0 auto;
}
