.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 30rem;
  background-color: rgb(0, 0, 0);
  margin: 40px auto;
  border-radius: 20px;
  max-width: 80rem;
}

.about-section img {
  width: 100%;
  height: 30rem;
  margin-right: 20px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
  object-position: center;
}

.about-text {
  max-width: 600px;
  color: rgb(186, 186, 186);
  padding: 50px 0;
  line-height: 1.6;
}

.about-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}
