.collection-section {
  padding: 50px 3rem;
  background-color: #f4f4f4;
}
.collection-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.collection-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.collection-item h3 {
  margin-top: 0.3rem;

  font-size: 1.05rem;
  text-transform: capitalize;
  margin-bottom: 2px;
  font-weight: normal;
}
.collection-item img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0;
  border-radius: 1px;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}

.collection-item p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}
.collection-item button {
  background-color: brown;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.3rem;
}
.collection-item button:hover {
  background-color: darken(brown, 100%);
}
