.collection-section {
  padding: 50px 3rem;
  background-color: #f4f4f4;
}
.collection-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.relative {
  position: relative;
}
.prev,
.next {
  color: black;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 4rem;
  cursor: pointer;
  z-index: 10;
  display: grid;
  place-content: center;
}

.carousel-btn.prev {
  left: -3rem;
}

.carousel-btn.next {
  right: -3rem;
}

/* Optional: hide buttons on desktop */
@media (min-width: 768px) {
  .carousel-btn {
    display: none;
  }

  .carousel-track {
    flex-wrap: wrap;
    overflow: visible;
  }
}
.collection-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.collection-item h3 {
  margin-top: 0.3rem;

  font-size: 1.05rem;
  text-transform: capitalize;
  margin-bottom: 2px;
  font-weight: normal;
}
.collection-item img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0;
  border-radius: 1px;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}

.collection-item p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}
.collection-item button {
  background-color: brown;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.3rem;
}
.collection-item button:hover {
  background-color: darken(brown, 100%);
}

/* media queries */
@media (max-width: 955px) {
  .collection-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 550px) {
  .collection-section h2 {
    font-size: 28px;
    text-wrap: nowrap;
  }
  .collection-items {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch; /* iOS smooth */
  }
  .collection-items::-webkit-scrollbar {
    display: none; /* optional */
  }
  .collection-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
}
