.tag {
  text-align: center;
  padding: 5px 0;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  color: white;
  /* letter-spacing: 1px; */
  font-weight: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background: rgb(255, 255, 255);
  color: white;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-content: center;
}
header nav ul {
  display: flex;
  list-style: none;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > img {
  height: 60px;
  object-fit: contain;
}
header nav a {
  color: rgb(0, 0, 0);
  margin: 0 15px;
  text-decoration: none;
  display: inline;
}
header .buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
}
header .buttons button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    filter: brightness(0) invert(1);
  }
}
.hero-section {
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.231),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("../assets/hero.png") no-repeat center 20% / cover;
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
}
.hero-section-content {
  padding: 30px;
  padding-bottom: 10rem;
  display: flex;
  justify-content: end;
  flex-direction: column;
  color: rgb(255, 255, 255);
  max-width: 84rem;
}
.hero-section-content h1 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
  text-transform: capitalize;
}
.hero-section-content button {
  width: max-content;
  padding: 16px 40px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border: none;
}
